#title {
  color: rgb(250, 250, 250); 
  text-align: center; 
}

#body {
    text-align: center; 
    font-weight: bold;
    font-size: 2000x;
    color:  rgb(250, 250, 250); 
}

#align {
    /* width: 100px;
    height: 50px; */
    margin: 0 auto;
    /* background-color: #777; */
}

#background {
    color: rgb(6, 60, 73); 
}